/*
Estilos globales para todo el sitio webs.
*/
header{
    background-color: #B8D5BA;
}

body {
    background-color: #B8D5BA;
    margin: 0;
    padding: 0;
    background-image: url(../img/Studio_Ghibli_logo.svg.png);
    background-position: 80% 220%;
    background-repeat: no-repeat;
}

.title {
    font-size: large;
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translateX(-50px);
    max-width: 400px;
}

.containerSecundary {
    display: flex;
    margin-top: 30%;
    background-color: #B8D5BA;
}

.description {
    flex: 1;
    padding: 10px;
}

.images {
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.images img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px;
    transition: transform 0.3s ease;
}

.images img:hover {
    transform: scale(1.1);
}

.card {
    padding: 20px; 
    max-width: 400px;
    margin-bottom: 20px;
    margin-left: 10%;
}

.btn {
    background-color: #484a4b; /* Color de fondo del botón */
}

.btn:hover {
    background-color: #909294; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}

.btn:active {
    background-color: #606263; /* Cambia el color de fondo cuando se hace clic en el botón */
}

@media screen and (max-width: 1000px) { 
    .title {
        display: none;
    }
}    

@media screen and (max-width: 810px) { 
    .title {
        display: none;
    }

    body {
        background-position: 50% 230%;
    }

    .containerSecundary {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        overflow-x: hidden;
    }
    /* Estilos para la descripción y las imágenes */
    .description, .images {
        width: 100%;
    }
    /* Estilo opcional para el botón */
    .btn {
        margin-top: 10px; /* Espacio entre el texto y el botón */
    }
}    


@media screen and (max-width: 600px) {
    .images img {
        width: calc(100% - 40px); /* Resta el doble del margen para que ocupe todo el ancho de la pantalla */
        height: auto; /* Permite que la altura se ajuste automáticamente manteniendo la proporción */
    }

    body {
        background-position: 50% 60%;
        background-repeat:repeat;
    }
}