*{
    padding: 0;
    margin: 0;
}
.titulo-movie{
    font-family: Arial, Helvetica, sans-serif;
}
.parrafo-movie{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.imagen-secction{
    height: 300px;
    width: 400px;
}
.contenedor-imagen, .contenedor-boton {
    text-align: center;
    margin-top: 50px;
}

.contenedor-boton .btn-expandir {
    display: block;
    margin-top: 10px;
}

.expandir-info {
    
    display: none;
}

.expandir-info.mostrar {
    display: block;
}
