body {
    background-color: #b8d5ba;
    padding-bottom: 50px;
}

.contenido {
    margin-top: 80px;
    padding: 0px;
}

.parrafo-movie {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: center;
}

.imagen-secction {
    width: 800px;
    height: auto;
}

.contenedor-imagen, .contenedor-boton {
    text-align: center;
    margin-top: 50px;
}

.contenedor-boton .btn-expandir {
    display: block;
    margin-top: 10px;
}

.expandir-info {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 300ms ease-out, opacity 300ms ease-out;
}

.expandir-info.mostrar {
    max-height: auto; 
    opacity: 1;
}

.btn-expandir {
    border: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .imagen-secction {
        max-width: 100%;
        height: auto;
    }
}
