body {
    background-color: #B8D5BA;
}

#titulo {
    font-family: "Raleway", sans-serif;
    color: #31241E;
    text-align: center;
}

.flex-container {
    background-color: #88c38c;
    width: 1100px;
    margin: 0 auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 2px 4px 8px #31241E; 
    border: 1px solid black;
}

/*Ingredientes*/
.ingredientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ingredientes-contenido {
    font-family: "Raleway", sans-serif;
    color: #161616;
}

#img {
    margin-left: 190px;
    width: 30%;
}

/*Instrucciones*/
.instrucciones {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.instrucciones-contenido {
    font-family: "Raleway", sans-serif;
    color: #161616;
    width: 500px;
}

#img2 {
    width: 30%;
    height: 25%;
    margin-right: 50px;
}

/*Tablets (600px hasta 1050px)*/
@media (min-width: 600px) and (max-width: 1050px) {
    #img {
        width: 40%;
    }

    #img2 {
        width: 30%;
        margin: 0;
    }

    .ingredientes-contenido {
        font-size: 80%;
    }

    .instrucciones-contenido {
        font-size: 80%;
        width: 60%;
    }

    .flex-container {
        width: 100%;
    }
}

/* Movil (600px and down)*/
@media (max-width: 600px) {
    #img {
        margin: 0;
        width: 80%;
    }

    #img2 {
        width: 70%;
    }

    .ingredientes-contenido {
        flex: 1;
        font-size: 80%;
        margin-left: 10%;
    }

    .instrucciones-contenido {
        font-size: 80%;
        width: 90%;
    }

    .flex-container {
        width: 100%;
    }
}
