header {
    background-color: #B8D5BA;
}

body {
    background-color: #B8D5BA;
}

#font-title {
    font-family: 'Montserrat', sans-serif;
    color: #31241E;
    font-style: italic;
    text-align: center;
}

#font-subtitulo {
    font-family: 'Montserrat', sans-serif;
    color: #31241E;
    text-align: center;
}

#font-titulo-receta {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    color: #31241E;
}

#font-pelicula {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 16px;
    background-color: #D1C8C1;
}

img {
    height: 180px;
    margin-top: 5px;
}

#recipe {
    padding: 10px;
    display: flex;
    align-items: center;
    display: inline-block;
}
.contenido-desplegable {
    display: none;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

#recipe img {
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
    padding: 8px 12px; /* Espaciado del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    margin-right: 10px; /* Espacio a la derecha de la imagen para separarla del texto */
}

#recipe img:hover {
    opacity: 0.7; /* Opacidad reducida al pasar el cursor sobre la imagen */
}

