header {
    background-color: #B8D5BA;
}

body {
    background-color: #B8D5BA;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
/* TITULOS*/
#titulo {
    margin-top: 150px;
    font-family: 'Montserrat', sans-serif;
    color: #31241E;
    font-style: italic;
    text-align: center;
}

#subtitulo {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 18px;
    
}
/*RECETAS GENERAL*/
.receta {
    display: flex;
    
}
#titulo-receta {
    margin-top: 80px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #31241E;
}
#titulo-pelicula {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    
}
#resumen-receta {
    font-family: 'Poppins';
    font-size: 15px;
    color: #31241E;
}
/*RECETAS DERECHA*/
#img-recetas-right{
    margin-top: 50px;
    margin-left: 150px;
    height: 250px;
    width: 500px;
    object-fit: cover;;
    border-radius: 12px;
}
.descripcion-receta-right {
    margin-left: 80px;  
    margin-right: 100px;
}
.button-right {
    background-color: #D1C8C1;
    border: 1px solid #8d837e;
    color: #31241E;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    margin-left: 600px;
}
/*RECETAS IZQUIERDA*/
.descripcion-receta-left {
    margin-left: 150px;
    width: 800px;
}
#img-recetas-left {
    margin-top: 50px;
    margin-right: 80px;
    height: 250px;
    width: 500px;
    object-fit: cover;
    border-radius: 12px;
}
.button-left {
    background-color: #D1C8C1;
    border: 1px solid #8d837e;
    color: #31241E;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    margin-left: 600px;
}

