body{
    background-color:  #b8d5ba;
}
h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #31241E;
    font-style: italic;
    text-align: center;
    font-size: 30px;
}
h2 {
    text-align: center;
    font-family: 'Poppins';
    font-size: 17px;
    color: #31241E;
    font-weight: 200;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.tarjeta {
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: #88c38c;
    font-size: 15px;
    font-family: 'Poppins';
    
}
.tarjeta > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.tarjeta > p {
    margin-left: 5px;
}
